<%- include('partials/header', { title: 'Book Note' }) %>

<div class="conainer py-4">
    <!-- Page Title and Action Buttons -->
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <h1 class="mb-3 mb-md-0">Books I've Read</h1>
    </div>
    
    <!-- Search -->
    <form method="GET" action="/search" class="row g-2 mb-3">
        <div class="col-md-9">
            <input type="text" name="search" class="form-control" placeholder="Search by title, author or isbn"
                value="<%= search || '' %>">
        </div>
        <div class="col-md-3 d-grid">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </form>
    
    <!-- Sorting -->
    <div class="row mb-3">
        <div class="col d-flex justify-content-end">
            <!-- <label for="sort" class="me-2">Sort by: </label> -->
            <form method="GET" action="/" class="d-inline d-flex align-items-center gap-2">
                <label for="sort" class="me-2 mb-0">Sort by:</label>
                <select name="sort" id="sort" class="form-select d-inline w-auto" onchange="this.form.submit()">
                    <option value="title" <%= sort === 'title' ? 'selected' : '' %>>Title</option>
                    <option value="author" <%= sort === 'author' ? 'selected' : '' %>>Author</option>
                    <option value="date_read" <%= sort === 'date_read' ? 'selected' : '' %>>Date Read</option>
                    <option value="rating" <%= sort === 'rating' ? 'selected' : '' %>>Rating</option>
                </select>     
                <input type="hidden" name="order" value="<%= order === 'DESC' ? 'ASC' : 'DESC' %>">
                <button type="submit" class="btn btn-link text-black fs-4" title="Toggle Order">
                    <i class="bi <%= order === 'DESC' ? 'bi-sort-alpha-down-alt' : 'bi-sort-alpha-down' %>"></i>
                </button>           
            </form>
        </div>
    </div>

    <!-- Book List -->
     <div class="row g-4">
        <% books.forEach(book => { %>
            <div class="col-12">
                <div class="card h-100 shadow-sm flex-md-row position-relative">
                    <% if (book.cover_url) { %>
                        <a href="/book/<%= book.id %>" class="col-md-3 d-flex align-items-center p-3">
                            <img src="<%= book.cover_url %>" class="img-fluid rounded-start" alt="<%= book.title %>" style="max-height: 350px; object-fit: cover;">
                        </a>
                    <% } %>
                    <div class="card-body d-flex flex-column col=md-9">
                        <h5 class="card-title">
                            <a href="/book/<%= book.id %>" class="text-decoration-none text-dark"><%= book.title %></a>
                        </h5>                        
                        <% if (user) { %>                            
                            <div class="position-absolute top-0 end-0 d-flex align-items-center gap-2 p-2"> 
                                <a href="/edit/<%= book.id %>" class="text-warning me-2" title="Edit"><i class="bi bi-pencil-square fs-5"></i></a>
                                <form method="POST" action="/delete/<%= book.id %>" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this book?');">
                                    <button type="submit" class="btn btn-link text-danger p-0"><i class="bi bi-trash fs-5"></i></button>
                                </form>
                            </div>
                        <% } %>                       
                        <p class="card-subtitle text-muted mb-2">by <%= book.author %></p>
                        <p class="mb-1"><strong>Read: </strong><%= book.date_read.toDateString() %></p>
                        <p class="mb-1"><strong>Rating: </strong><%= book.rating %>/10</p>
                        <p class="card-text mt-2" style="display:-webkit-box; -webkit-line-clamp: 8; line-clamp: 8; -webkit-box-orient: vertical; overflow: hidden"><%= book.review %></p>           
                    </div>
                </div>                
            </div>
        <% }) %>
    </div>
</div>

<%- include("partials/footer") %>